{% extends 'base.html' %}
{% load static component_tags bleach_tags %}

{% block title %}Projects - {{ block.super }}{% endblock %}

{% block content %}
    <h2>Project Overview</h2>
    {% if not grouped_projects %}
        <h5>No projects found.</h5>
    {% else %}
        {% for semester, projects in grouped_projects.items %}
            {% component "semester_projects" semester=semester projects=projects %} {% endcomponent %}
        {% endfor %}
        <!-- <script src="{% static 'js/scroll.js' %}"></script> -->
    {% endif %}
{% endblock %}
