{% extends "admin/change_form.html" %}

{% block after_field_sets %}
    {% if original.logs %}
    <fieldset class="module aligned">
        <h2>Logs</h2>
        <div style="
            background: black;
            color: white;
            padding: 12px;
            font-family: 'Courier New', monospace;
            overflow-y: auto;
            overflow-x: auto;
            display: flex;
            flex-direction: column-reverse;
            white-space: nowrap;
            ">
        {{ original.logs|linebreaksbr}}
        </div>
    </fieldset>
    {% endif %}
{% endblock %}